VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_INVITE_CODE=STATICSTEREO2026
VITE_SUPABASE_AUTH_VOCAL_EMAIL=
VITE_SUPABASE_AUTH_VOCAL_PASSWORD=
VITE_SUPABASE_AUTH_DEVIL_EMAIL=
VITE_SUPABASE_AUTH_DEVIL_PASSWORD=
VITE_SUPABASE_AUTH_SUNNY_EMAIL=
VITE_SUPABASE_AUTH_SUNNY_PASSWORD=
VITE_SUPABASE_AUTH_DRUM_EMAIL=
VITE_SUPABASE_AUTH_DRUM_PASSWORD=
VITE_SUPABASE_AUTH_BASS_EMAIL=
VITE_SUPABASE_AUTH_BASS_PASSWORD=
VITE_SUPABASE_AUTH_KEYBOARD_EMAIL=
VITE_SUPABASE_AUTH_KEYBOARD_PASSWORD=
VITE_SUPABASE_AUTH_CHORUS_EMAIL=
VITE_SUPABASE_AUTH_CHORUS_PASSWORD=
YOUTUBE_PLAYLIST_ID=
YOUTUBE_ACCESS_TOKEN=
